.desktop-header-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  color: #fff;
}

.desktop-header-logo-location {
  display: flex;
  align-items: center;
  font-weight: 200;
  column-gap: 2rem;
}
.desktop-navigation-h2 {
  font-weight: 200;
  font-size: 2rem;
  margin: 0rem;
  margin-left: 1rem;
}

.desktop-location-menu-span {
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  padding: 0rem;
  align-items: center;
  column-gap: 1rem;
}

.desktop-location-chosen {
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
}

.desktop-location-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  margin: 0rem;
  padding: 2rem;
  z-index: 3;
  position: absolute;
  bottom: fixed;
  top: 4.4rem;
}

.desktop-location-item {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 200;
  width: fit-content;
}

.desktop-logo-location-menu {
  display: flex;
}

.desktop-location-menu-open-arrow {
  padding: 0rem;
  margin: 0rem;
  height: fit-content;
  font-size: 1.5rem;
  margin-top: 0.2rem;
  transform-origin: 8px 14px;
}

.desktop-nav-bar {
  z-index: 2;
  width: fit-content;
  display: flex;
  align-items: center;
}

.desktop-nav-menu {
  list-style: none;
  display: flex;
  column-gap: 1rem;
  margin: 0rem;
  padding: 1rem;
  align-items: center;
}

.desktop-nav-menu-item {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 200;
}

.desktop-nav-menu-item:last-child {
  background-color: rgba(30, 30, 30, 1);
  width: 5rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-container {
  width: 100%;
  height: fit-content;
  display: none;
  position: fixed;
  z-index: 2;
  background-color: blanchedalmond;
}

.hamburger-container > div > h2 {
  color: #000;
  font-weight: 400;
  margin: 0rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  margin-left: 0.3rem;
  border: none;
  background-color: blanchedalmond;
  cursor: pointer;
  padding: 0.5rem;
}

.hamburger-overlay-header > button {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0.5rem;
  position: relative;
}

.hamburger-line-2 {
  border: 1px solid #fff;
  width: 2rem;
  transform: translateY(0.31rem) rotate(45deg);
  transform-origin: center;
}

.hamburger-line-3 {
  border: 1px solid #fff;
  width: 2rem;
  transform: translateY(-0.31rem) rotate(-45deg);
  transform-origin: center;
}

.hamburger-line-1 {
  border: 1px solid #000;
  width: 2rem;
}

.hamburger-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.hamburger-second-row {
  border-bottom: 1px solid #000;
  padding: 0.7rem;
}

.hamburger-button-main-location {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.hamburger-overlay {
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #202020;
  justify-content: flex-start;
  row-gap: 10rem;
  display: flex;
  flex-direction: column;
}

.hamburger-overlay-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #fff;
}

.hamburger-overlay-header > h2 {
  font-weight: 100;
  margin: 0rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.hamburger-overlay-second-row {
  border-bottom: 0.5px solid #fff;
  padding: 0.5rem;
  display: flex;
}

.hamburger-location-menu-open-arrow {
  margin: 0rem;
  padding: none;
}

.hamburger-overlay-second-row > button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.overlay-open-arrow {
  margin: 0rem;
  position: absolute;
  left: 5rem;
  top: 4.6rem;
}

.hamburger-open-arrow {
  margin: 0rem;
  position: absolute;
  left: 5rem;
  top: 4.6rem;
}

.hamburger-menu-ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 1rem;
}

.hamburger-menu-li {
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 400;
}

.hamburger-menu-locations {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 7.6rem;
  background: #202020;
}

.hamburger-menu-items-container {
  display: relative;
}

.hamburger-menu-li-location {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 100;
  color: #fff;
}

@media (max-width: 1024px) {
  .desktop-header-container {
    display: none;
  }
  .hamburger-container {
    display: block;
  }
}

@media (min-width: 2560px) {
  .desktop-navigation-h2 {
    font-size: 5rem;
  }

  .desktop-location-chosen {
    font-size: 3rem;
  }

  .desktop-location-menu-open-arrow {
    font-size: 3rem;
    padding: 0rem;
    margin-top: -0.4rem;
  }

  .desktop-nav-menu-item {
    font-size: 2.5rem;
  }

  .desktop-nav-menu {
    column-gap: 3rem;
  }

  .desktop-nav-menu-item:last-child {
    background-color: rgba(30, 30, 30, 1);
    width: 8rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktop-location-list {
    top: 6.7rem;
  }

  .desktop-location-item {
    font-size: 3.5rem;
  }
}
