.about-section-container {
  height: fit-content;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

h2 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0rem;
}

span {
  font-weight: 400;
  font-size: 1.2rem;
}

.about-article-1 {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.about-p-1 {
  margin: 0rem;
  margin-bottom: 1rem;
}

.about-article-2 {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  position: relative;
}

.about-h2-2 {
  margin-bottom: 2rem;
}

.about-image-container {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.about-image-container-2 {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.about-p-2 {
  margin: 0rem;
  margin-bottom: 1rem;
}

.square-photo {
  height: 11rem;
}

.hands {
  height: 9rem;
}

.google-maps-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.couch {
  height: 18rem;
  width: 100vw;
  align-self: center;
}

.google-maps {
  font-weight: 400;
  text-decoration: underline;
}

@media (min-width: 500px) {
  .square-photo {
    height: 15rem;
  }

  .about-image-container {
    align-self: flex-end;
  }

  .about-p-1 {
    width: 30rem;
  }

  .couch {
    height: 25rem;
    width: min-content;
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 6rem;
  }

  .about-content-container-1 {
    display: flex;
    justify-content: space-between;
  }

  .about-content-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    width: min-content;
  }

  .about-h2-2 {
    font-size: 4.5rem;
    width: 100%;
    text-align: end;
  }

  .about-image-container-2 {
    text-align: end;
    align-self: flex-end;
  }

  .about-p-2 {
    width: 25rem;
  }

  .about-article-1 {
    row-gap: 5rem;
  }

  .about-article-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    column-gap: 3rem;
  }

  .square-photo {
    height: 20rem;
  }

  .hands {
    height: 10rem;
  }

  .couch {
    width: min-content;
  }
}

@media (min-width: 1440px) {
  .about-h2-2 {
    font-size: 6.5rem;
    width: 80%;
    align-self: flex-end;
  }

  .square-photo {
    height: 30rem;
  }

  .hands {
    height: 10rem;
  }
}

@media (min-width: 2560px) {
  .about-h2-1 {
    font-size: 10rem;
  }

  .about-h2-2 {
    font-size: 10rem;
    /* border: 2px solid blue; */
    width: fit-content;
  }

  .about-p-1 {
    /* border: 2px solid red; */
    font-size: 2.2rem;
    width: 70rem;
    margin-top: 2rem;
  }

  .about-p-2 {
    font-size: 2.2rem;
    /* border: 2px solid green; */
    width: 40rem;
  }

  .about-span-1 {
    font-size: 2.3rem;
  }

  .about-span-2 {
    font-size: 2.3rem;
  }

  .about-article-2 {
    justify-content: space-between;
  }

  .square-photo {
    height: 50rem;
  }

  .hands {
    height: 30rem;
  }

  .google-maps {
    font-size: 2.5rem;
  }
}
