.hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(3, 2, 1, 0.3);
  z-index: 1;
  color: #fff;
  position: relative;
}

.hero-text {
  width: fit-content;
  position: absolute;
  bottom: 2rem;
}

.hero-h2 {
  font-size: 4rem;
  margin: 0rem;
  margin-left: 0.5rem;
  font-weight: 300;
  padding: 0rem;
}

.hero-p {
  margin: 0rem;
  padding: 0rem;
  max-width: 50rem;
  margin-left: 0.7rem;
  margin-top: -1rem;
  font-size: 0.9rem;
}

@media (min-width: 1024px) {
  .hero-h2 {
    font-size: 5rem;
  }

  .hero-p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 95vh;
  }
}

@media (min-width: 2560px) {
  .hero-text {
    margin-left: 1rem;
  }

  .hero-h2 {
    font-size: 10rem;
  }

  .hero-p {
    font-size: 2.5rem;
    max-width: 80rem;
    font-weight: 100;
  }
}
