@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500&display=swap');

body {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Text', sans-serif;
  width: 100%;
}

.background {
  background-image: url('/src/pictures/outdoor_pool.jpg');
  background-size: 100vw;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
